window.Paths = {
    {{#Paths}}
    '{{{name}}}':{{{url}}},
    {{/Paths}}
};
window.MONACO_WORKER_URLS = {{{MONACO_WORKER_URLS}}};
window.LIB_URLS = {{{LIB_URLS}}};
window.ModelViews = [
{{#components}}
    Object.assign({
        name: '{{{name}}}',
        icon: '{{{icon}}}',
        order: {{{order}}},
        props: { resizeEmmiter: Set },
        data: ()=>({
            {{#remote}}
            {{{c}}}_{{{method}}}_data:Object.freeze([]),
            {{/remote}}
        }),
        beforeCreate(){
            this.slug = '{{{slug}}}';
            this.hooks = {{{hooks}}};
            this.can = {{{can}}};
            this.rtti = {{{rtti}}};
            this._genSearch = x => {{{searchable}}};
            {{#remote}}
            this.makeRemoteDataHandler('{{{c}}}', '{{{method}}}');
            {{/remote}}
        }
    }, {{{render}}}),
{{/components}}
]