- const $ = (row, i) => `${row}.${i}`
- const $part = (row, i, p) => `${row}.${i}.split('|')[${p}]`
- const $s = (state, not) => `(item.__state${not?'!':'='}=${state})`
- const readonly = (v, row) => isEditableField(v) ? `(${row}.__state!==${EDIT})` : 'true'
- let display = null

mixin baseBlock(v, row, field)
    - const error = row+".__errors&&"+row+".__errors."+field;
    if display === 'table'
        td(:class=`{'rg-field_error':${error}}`)
            block
            .rg-field__error(v-if=error) {{!{error}}}  
    else 
        div(:class=`{'rg-field_error':${error}}`)
            block
            .rg-field__error(v-if=error) {{!{error}}}  

mixin files(v, row, field)
    +baseBlock(v, row, field)
        //todo add action
        el-upload-wrapper(
            action='' 
            accept=v.uploadAccept
            :limit=v.max
            title=v.placeholder
            v-model=$(row, field)
            :disabled=readonly(v, row)
        )
        
mixin enum(v, row, field)
    +baseBlock(v, row, field)
        div(v-if=readonly(v, row)) {{!{$(row, field)+'.label||'+$(row, field)}}} 
        el-select(
            v-else
            placeholder=v.placeholder||''
            v-model=$(row, field)
            default-first-option
            filterable            
            remote=!!v.remote
            :remote-method=v.remote?`call_${v.remote.replace('.', '_')}`:false
        )
            if v.enum
                each el in v.enum
                    el-option(label=el value=el key=el)
            if v.remote
                //- todo :key не указывается так как ломается выбор с клавиатуры
                el-option(v-for=`option in ${v.remote.replace('.', '_')}_data` v-if="option" :label="option.label||option" :value="option.value||option")

mixin array(v, row, field)
    +baseBlock(v, row, field)   
        div(v-if=readonly(v, row)) 
            span(v-for="option in "+$(row, field) class="el-tag el-tag--info el-tag--small" style="margin-right:.25em;margin-bottom:.25em") {{option.label||option}}
        el-select(            
            v-else
            placeholder=v.placeholder||''
            v-model=$(row, field)
            default-first-option
            multiple
            filterable
            allow-create=!(v.enum&&v.enum.length>0)
            remote=!!v.remote
            :remote-method=v.remote?`call_${v.remote.replace('.', '_')}`:false
        )
            if v.enum
                each el in v.enum
                    el-option(label=el value=el key=el)
            if v.remote
                //- todo :key не указывается так как ломается выбор с клавиатуры
                el-option(v-for=`option in ${v.remote.replace('.', '_')}_data` v-if="option" :label="option.label||option" :value="option.value||option")

mixin number(v, row, field)
    +baseBlock(v, row, field)
        div(v-if=readonly(v, row)) {{!{$(row, field)}}} 
        el-input-number(
            v-else
            controls-position="right"
            :min=v.min
            :max=v.max
            :precision=v.integer?'0':false
            v-model=$(row, field)
        )

mixin input(v, row, field, fullscreen)
    +baseBlock(v, row, field)
        //todo add multiline
        //todo fullscreen
        div(v-if=readonly(v, row)) {{!{$(row, field)}}} 
        el-input(
            v-else
            placeholder=v.placeholder||''
            :clearable=v.readonly ? false : '!' + readonly(v, row)
            :minlength=v.min
            :maxlength=v.max
            v-model=$(row, field)
            autosize
        )

mixin wysiwyg(v, row, field, fullscreen)
    +baseBlock(v, row, field)
        //todo fullscreen
        wysiwyg(v-model=$(row, field) :class=`{'rg-wysiwyg_readonly':${readonly(v, row)}}`)

mixin code(v, row, field, fullscreen)
    +baseBlock(v, row, field) 
        //todo fullscreen
        tgmd(mode=v.type v-model=$(row, field) :readonly=readonly(v, row))

mixin monaco(v, row, field, mode, fullscreen)
    +baseBlock(v, row, field)
        monaco(mode=mode fullscreen=fullscreen :resizeEmmiter="resizeEmmiter" v-model=$(row, field) :readonly=readonly(v, row))

mixin boolean(v, row, field)
    +baseBlock(v, row, field)
        input(type="checkbox" :disabled=readonly(v, row) v-model=$(row, field))

mixin date(v, row, field)
    +baseBlock(v, row, field)
        div(v-if=readonly(v, row)) {{!{`${row}.${field}.toLocaleString()`}}} 
        el-date-picker(
            v-else            
            placeholder=v.placeholder||''
            type="datetime"
            v-model=$(row, field)
        )

mixin link(v, row, field)
    if display === 'table'
        td
            if v.placeholder
                a(:href=$(row, field) target="_blank")= v.placeholder
            else
                a(:href=$part(row, field, 0) target="_blank") {{!{$part(row, field, 1)}}}
    else 
        div
            if v.placeholder
                a(:href=$(row, field) target="_blank")= v.placeholder
            else
                a(:href=$part(row, field, 0) target="_blank") {{!{$part(row, field, 1)}}}

mixin component(v, i, row, fullscreen)
    case v.type
        when 'string'
            +input(v, row, i, fullscreen)
        when 'array'
            +array(v, row, i)
        when 'files'
            +files(v, row, i)
        when 'date'
            +date(v, row, i)
        when 'number'
            +number(v, row, i)
        when 'enum'
            +enum(v, row, i)
        when 'boolean'
            +boolean(v, row, i)
        when 'wysiwyg'
            +wysiwyg(v, row, i, fullscreen)
        when 'md-tg'
            +code(v, row, i, fullscreen)
        when 'regexp'
            +code(v, row, i, fullscreen)
        when 'javascript'
            +monaco(v, row, i, 'javascript', fullscreen)
        when 'link'
            +link(v, row, i)
        default
            span Unsupported type

mixin controlls()
    if can.CHANGE || can.DELETE
        td.rg-data__small-cell
            el-button-group
                if can.CHANGE                       
                    keep-alive
                        if can.PATCH
                            el-button(
                                v-if=$s(NONE) 

                                @click="edit(item)" 
                                type="primary" 
                                icon="el-icon-edit"

                                :disabled=$s(REMOVE)

                                circle=can.DELETE
                                round=!can.DELETE
                            )                            
                        el-button(
                            v-if=$s(NONE, true)

                            @click="save(item)" 
                            type="primary" 
                            icon="el-icon-check" 

                            :loading=$s(SAVE) 
                            :disabled=$s(REMOVE)

                            circle=can.DELETE
                            round=!can.DELETE
                        )
                if can.DELETE
                    el-button(
                        @click="remove(item)" 
                        type="danger" 
                        icon="el-icon-delete"

                        :disabled=$s(SAVE)
                        :loading=$s(REMOVE)

                        circle=can.CHANGE
                        round=!can.CHANGE
                    )