include mixins.pug

- let aloneField = 1 === Object.keys(props).reduce((sum, k) => sum + isVisibleField(props[k]), 0)
.rg-data_single(v-if="!!values[0]" class={'rg-alone-field-container': aloneField})
    each v, field in props
        if isVisibleField(v)
            p !{propTitle(v, field)}
            +component(v, i, 'values[0]', aloneField)
    if can.PATCH
        p 
            el-button(@click="save(values[0])" type="primary" round icon="el-icon-check" :loading="values[0].__state=="+SAVE) Save