include mixins.pug

.rg-data(v-loading="loading")
    table
        - let hasNormalFields = false
        tbody
            template(v-for="(item, index) in filteredValues" :key="item."+findPrimaryField(props)) 
                if can.CHANGE || can.DELETE || hasNormalFields
                    tr        
                        - display = 'table'
                        each v, field in props
                            if isNormalField(v)
                                - hasNormalFields = true
                                +component(v, field, 'item')
                        +controlls()
                - display = 'single'
                each v, field in props
                    if isFullwidthField(v)
                        tr
                            td(colspan=999)
                                .rg-subtitle !{propTitle(v, field)}
                                +component(v, field, 'item')
            tr
                td.rg-foot-spacer(colspan=999)=''
        if hasNormalFields
            thead
                tr
                    - display = 'table'
                    each v, field in props
                        if isNormalField(v)
                            th
                                span(:class=`{'rg-sort-icon':!filterRe, 'rg-sort-icon__asc': sort.${field} === ${ASC}, 'rg-sort-icon__desc': sort.${field} === ${DESC} }` @click=`switchSort('${field}')`) !{propTitle(v, field)}
                    if can.CHANGE || can.DELETE
                        td.rg-data__small-cell
                            el-button-group(v-if="values.length>1")
                                if can.CHANGE
                                    el-button(
                                        :disabled="!hasUnsaved"

                                        @click="saveAll" 
                                        type="primary" 
                                        icon="el-icon-check" 

                                        circle=can.DELETE
                                        round=!can.DELETE
                                    )
                                if can.DELETE
                                    el-button(                                         
                                        @click="removeAll" 
                                        type="danger" 
                                        icon="el-icon-delete"

                                        circle=can.CHANGE
                                        round=!can.CHANGE
                                    )
    .rg-foot
        el-input(
            clearable
            v-model="filter"
            prefix-icon="el-icon-search"
        )
            if can.PUT
                el-button(@click="add" type="primary" slot="append" icon="el-icon-plus") New