doctype html
html
    block vars
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge") 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="noindex,nofollow")
        base(href=baseUrl target="_blank")
        link(rel="icon" href='favicon.ico' type="image/x-icon")
        title=title
        each s in styles
            if s
                link(rel="stylesheet" href=s)
    body
        block content
        each s in scripts
            if s
                script(src=s)