.el-select {
    display: block;
}

.el-input {
    > input {
        transition: 0s;

        border-radius: 0;
    }

    &-number__decrease, &-number__increase {
        border-radius: 0 !important;
    }
}

.el-notification {
    box-sizing: border-box;
    width: auto;
    max-width: 600px;
    padding-top: 8px;
    padding-left: 9px;

    border-radius: 3px;

    &__content {
        white-space: pre-wrap;
    }
}

.el-button, .el-checkbox {
    font-weight: 400;
}

.editr {
    &--content {
        background-color: white;

        pre, code {
            display: inline-block;

            margin: 0;

            white-space: pre-wrap;

            background-color: rgba(255, 0, 0, .096);
        }
    }

    &--toolbar .dashboard {
        box-sizing: border-box;
    }
}