@import '_ui-fix.scss';

@import '_vars.scss';

.rg-drag-ghost {
    @include noneInteractive();

    background-color: $ligth-dark;

    > * {
        color: white;
        border-color: transparent !important;
    }
}

body {
    font-family: $font-name;
    font-size: 14px;

    background-color: $ligth-blue;
}

.rg-row {
    display: flex;
    overflow: auto;
    align-items: stretch;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.rg-col {
    @extend .rg-row;

    flex-direction: column;

    min-height: 100%;
}

.el-button-group {
    @extend .rg-row;
}

.rg-field {
    &_error {
        .el-input > input {
            border-color: $eColor;
        }
        //todo monaco editor
    }

    &__error {
        color: $eColor;
    }
}

.rg-menu {
    @extend .rg-col;

    overflow-x: hidden;

    width: 13em;
    min-width: 13em;

    background-color: $ligth-dark;

    &__item {
        font-weight: normal;

        position: relative;

        display: flex;
        overflow: hidden;
        align-items: center;

        min-height: 1em;
        margin: 0;
        padding: 1em;

        cursor: pointer;
        text-decoration: none;

        color: rgba(255, 255, 255, .5);
        border: 0;
        outline: 0;

        &:active, &:hover {
            color: white;
            background-color: $dark;
        }
    }

    &__icon {
        font-size: 1.2em;

        + * {
            padding-left: .5em;
        }
    }

    &__file {
        position: absolute;
        z-index: 2;
        top: -100%;
        left: -100%;

        width: 300%;
        height: 300%;

        cursor: pointer;

        opacity: 0;
    }

    .router-link-active {
        color: white;
        background-color: #3eb4ce;
    }
}

.rg-alone-field-container > div, .rg-spacer {
    flex-grow: 1;
}

.rg-user-info-dropdown {
    width: 12em;
    min-width: 12em;
}

.rg-subtitle {
    font-weight: 600;

    padding: .25em;

    vertical-align: middle;
}

.rg-data {
    @extend .rg-col;

    max-width: 100%;
    max-height: 100%;

    &_single {
        @extend .rg-data;

        padding: 0 1em;
    }

    &__small-cell {
        width: 1px;
    }

    > table {
        width: 100%;

        border-spacing: 0;
        border-collapse: collapse;

        > thead th {
            @extend .rg-subtitle;

            position: -webkit-sticky;
            position:         sticky;
            z-index: 2;
            top: 0;

            height: 3em;
            padding-right: 1em;

            background-color: rgba( $ligth-blue, .8);
            //border-bottom: 1px solid rgba( $border-color, .8);//уползает вместе с остальной таблице о_О
            box-shadow: inset 0 -1px 0 0 rgba( $border-color, .8);
        }

        td, tr, th {
            margin: 0;
            padding: 0;

            border: 0;
        }

        td {
            padding-top: .25em;
            padding-left: .25em;

            &:last-child {
                padding-right: .25em;
            }
        }
    }
}

.rg-sort-icon {
    position: relative;

    cursor: pointer;

    &::after, &::before {
        position: absolute;
        right: -1em;

        box-sizing: border-box;
        width: 0;
        height: 0;

        content: '';

        border: 5px solid transparent;
    }

    &::after {
        bottom: -2px;

        border-top-color: #c0c4cc;
    }

    &__desc::after {
        border-top-color: #409eff;
    }

    &::before {
        top: -2px;

        border-bottom-color: #c0c4cc;
    }

    &__asc::before {
        border-bottom-color: #409eff;
    }
}

.rg-foot {
    position: -webkit-sticky;
    position:         sticky;
    z-index: 3;
    bottom: 0;

    padding: .25em;

    &-spacer {
        height: 3em;
    }
}

.rg-wysiwyg {
    &_readonly {
        //todo opacity panel
        @include noneInteractive;
    }
}